span.popup_close
section.popup_container
    header
        .header__text
            h4="Добавление соискателя"
    section.form
        h3="Основные данные"
        form(action="", method="post")
            ul
                li
                    label(for="nameId")="ФИО"
                    input(type="text", placeholder="Введите ФИО")#nameId
                li
                    label(for="vacansyId")="Вакансия"
                    input(type="text", placeholder="Выберите вакансию")#vacansyId
                li
                    label(for="photoId")="Фотография"
                    input(type="text", placeholder="Введите ФИО")#photoId

