span.popup_close(data-action="close")
section.popup_container
    header
        .header__text
            h4="Добавление соискателя"
    section.popup_container___form

        form(action="", method="post")
            ul
                .form__group
                    h3="Основные данные"
                    li
                        label(for="nameId")="ФИО"
                        input(type="text", name="flname", placeholder="Введите ФИО")#nameId
                    li
                        label(for="vacansyId")="Вакансия"
                        input(type="text", name="vacansy", placeholder="Выберите вакансию")#vacansyId
                    li
                        label(for="photoId")="Фотография"
                        <p class="intro">Размер файла вложения не должен превышать 5 Мб, для загрузки допустимы следующие форматы файлов: jpg, png</p>
                        input(type="file", name="photo", placeholder="Выберите файл")#photoId

                .form__group
                    h3="Контактные данные"
                    li
                        label(for="phoneId")="Номер телефона"
                        input(type="text", name="phone", placeholder="Введите номер телефона")#phoneId
                    li
                        label(for="emailId")="E-mail"
                        input(type="text", name="email", placeholder="Введите адрес электронной почты")#emailId

                .form__group
                    h3="Резюме и результаты тестового задания"
                    li
                        label(for="resumeId")="Резюме"
                        p.intro="Размер файла вложения не должен превышать 50 Мб, для загрузки допустимы следующие форматы файлов: pdf, doc"
                        input(type="file", name="resume", placeholder="Выберите файл")#resumeId
                    li
                        label(for="testresId")="Архив с результатами тестового задания"
                        p.intro="Размер файла вложения не должен превышать 50 Мб, для загрузки допустимы следующие форматы файлов: zip, rar"
                        input(type="file", name="testres", placeholder="Выберите файл")#testresId

                .form__group
                    h3="Оценка соискателя"
                    li
                        div.rate-wrapper
                            div
                                label="Оценка резюме"
                                .rate.rate__green
                                    input(type="radio" name="resume_rate")#resume_star-1
                                    label(for="resume_star-1")
                                    input(type="radio" name="resume_rate")#resume_star-2
                                    label(for="resume_star-2")
                                    input(type="radio" name="resume_rate")#resume_star-3
                                    label(for="resume_star-3")
                                    input(type="radio" name="resume_rate")#resume_star-4
                                    label(for="resume_star-4")
                                    input(type="radio" name="resume_rate")#resume_star-5
                                    label(for="resume_star-5")                                
                            div
                                label="Оценка тестового задания"
                                .rate.rate__orange
                                    input(type="radio" name="testtask_rate")#testtask_star-1
                                    label(for="testtask_star-1")
                                    input(type="radio" name="testtask_rate")#testtask_star-2
                                    label(for="testtask_star-2")
                                    input(type="radio" name="testtask_rate")#testtask_star-3
                                    label(for="testtask_star-3")
                                    input(type="radio" name="testtask_rate")#testtask_star-4
                                    label(for="testtask_star-4")
                                    input(type="radio" name="testtask_rate")#testtask_star-5
                                    label(for="testtask_star-5")      
                            div
                                label="Оценка собеседования"
                                .rate.rate__orange
                                    input(type="radio" name="interview_rate")#interview_star-1
                                    label(for="interview_star-1")
                                    input(type="radio" name="interview_rate")#interview_star-2
                                    label(for="interview_star-2")
                                    input(type="radio" name="interview_rate")#interview_star-3
                                    label(for="interview_star-3")
                                    input(type="radio" name="interview_rate")#interview_star-4
                                    label(for="interview_star-4")
                                    input(type="radio" name="interview_rate")#interview_star-5
                                    label(for="interview_star-5")
                div.btn-wrapper
                    div
                        .btn.btn__white.btn__lrg(data-action="close")="Отменить"
                            
                    div
                        button.btn.btn__blue.btn__lrg(type="submit", data-action="sbmt")="Добавить соискателя"
                        

                      



